
.vs/ProjectADCATER/FileContentIndex/133e56ef-e333-45ba-a9f0-4aba1c6d0bac.vsidx
.vs/ProjectADCATER/FileContentIndex/52196483-ea6b-4bd9-86e2-264d704ac84e.vsidx
.vs/ProjectADCATER/FileContentIndex/read.lock
.vs/ProjectADCATER/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
